@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1e293b; /* สี text-slate-800 */
  background: #f8fafc; /* สี bg-slate-50 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}